:root {
  --bg-color: #000d1d;
  --deep-green: #00aa65;
  --light-green: #17eb88;
  --light-blue: #0f2c4e;
  --medium-color: #fee648;
  --weak-color: #ff6053;
  --border-color: #1E293B;
  --card-bg: #111827b2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  background: radial-gradient(circle at top left, #111827 -40%, transparent 20%),
    radial-gradient(circle at bottom right, #111827 -50%, transparent 30%),
    var(--bg-color);
  color: white;
  font-family: "Google Sans", sans-serif;
  height: 100vh;
}

.dark-theme {
  --bg-color: white;
  color:black;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  padding: 20px 150px;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-color);
}

.left-nav img {
  width: 150px;
}

.checkbox {
  display: none;
}

.slider {
  width: 60px;
  height: 30px;
  background-color: lightgray;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 4px solid transparent;
  transition: .3s;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
  cursor: pointer;
}

.slider::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-30px);
  border-radius: 20px;
  transition: .3s;
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked~.slider::before {
  transform: translateX(30px);
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
  background-color: var(--light-blue);
}

.checkbox:checked~.slider {
  background-color: var(--light-green);
}

.checkbox:active~.slider::before {
  transform: translate(0);
}


/* CONTENT */
section {
  height: 100%;
}

.overall-container {
  border: 1px solid var(--border-color);
  border-top: none;
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 35px;
  height: 100%;
  max-height: 100vh;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 35px 30px 0px 30px;
  border-radius: 25px;
  background-color: var(--bg-color);
}

.content-container {
  width: 96%;
}

.hero {
  margin-bottom: 25px;
}

.hero h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 3px;
}

.hero span {
  color: var(--deep-green);
}

.hero p {
  font-size: 20px;
}

.generator-section {
  background: var(--card-bg);
  /* width: 90%; */
  border-radius: 20px;
  border: 1px solid var(--border-color);
  padding: 25px 20px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subhead {
  font-size: 20px;
  font-weight: 700;
}

.password-display {
  display: flex;
  background-color: #0d1b2bde;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  align-items: center;
  padding: 20px 15px;
}

.password-display h2 {
  color: var(--light-green);
  font-size: 45px;
  font-weight: 900;
  /* font-family: 'Courier New', Courier, monospace; */
  flex: 2;
  text-align: center;
}

.copy-icon-lg {
  color: var(--deep-green);
  font-size: 40px;
  background-color: var(--border-color);
  border-radius: 8px;
  padding: 9px;
  cursor: pointer;
  transition: 0.1 ease-out;
}

.copy-icon-lg:hover{
  background-color:#2b3b55b7;
}

.copy-icon-lg:active{
   background-color: #0f2c4e;
}
.strength-meter {
  display: flex;
  color: var(--deep-green);
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.no-display{
  display:none
}

.strength-meter p {
  font-size: 20px;
  font-weight: 500;
}

.strength-bars {
  display: flex;
  gap: 10px;
}

.bar {
  height: 11px;
  width: 70px;
  background-color: var(--deep-green);
}

.customization {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.customization p {
  font-size: 16px;
}

#length-display {
  color: var(--deep-green);
  font-size: 20px;
  font-weight: 700;
  margin-left: 5px;
}

#range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  /* background: var(--deep-green); */
  background: linear-gradient(to right, #22c55e, rgb(121, 241, 151));
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  margin-top: 8px;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: white;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.custom-checkboxes {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 20px;
}

.custom-checkboxes div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.custom-checkboxes label {
  font-size: 16px;
}



/* CHECKBOX CSS */
.check {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  appearance: none;
  background-color: #bbb;
  transition: all .3s;
}

.check::before {
  content: '';
  position: absolute;
  border: solid #fff;
  display: block;
  width: .3em;
  height: .6em;
  border-width: 0 .2em .2em 0;
  z-index: 1;
  opacity: 0;
  right: calc(50% - .3em);
  top: calc(50% - .6em);
  transform: rotate(0deg);
  transition: all .3s;
  transform-origin: center center;
}

.check:checked {
  animation: a .3s ease-in forwards;
  background-color: var(--deep-green);
}

.check:checked::before {
  opacity: 1;
  transform: rotate(405deg);
}

@keyframes a {
  0% {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
  }

  50% {
    opacity: 0;
    transform: scale(.8) rotateY(180deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotateY(360deg);
  }
}

/* EXIT */


.generate-btn {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--deep-green);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 15px;
  width: 60%;
  align-self: center;
  cursor: pointer;
  color: white;
  font-family:  "Google Sans", sans-serif;
  transition: 0.3s ease-out
}

.generate-btn:hover {
  background-color: #07b871;
}
.generate-btn img {
  width: 20px;
}


/* HISTORY SECTION */
.history-container {
  background: var(--card-bg);
  border-radius: 20px;
  border: 1px solid var(--border-color);
  padding: 25px 20px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  min-height: 150px;
}

.history-header {
  display: flex;
  justify-content: space-between;
}

.history-icon {
  font-size: 25px;
}

.history-header p {
  display: flex;
  align-items: center;
  gap: 8px;
}

#clearAllBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.281);
  padding: 10px;
  border-radius: 7px;
  font-size: 17px;
  font-family: "Google Sans", sans-serif;
  transition: 0.3s ease-out;
  cursor:pointer;
}

#clearAllBtn:hover {
  background-color: var(--border-color);
}

#ex-password-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
  flex:1;
  align-items: center;
}

#empty-msg {
  color: grey;
  font-size: 16px;
  text-align: center;
}

#ex-password-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  padding: 10px 14px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.281);
  transition: 0.3s ease-out;
  max-height: 25px;
}

#ex-password-list li:hover {
  background-color: var(--border-color) ;
}

#ex-password-list li p {
  flex: 1;
  text-align:center;
}

#ex-password-list li span {
  cursor: pointer;
}

/* SIDEBAR */
.sidebar {
  width: 100%;

}

.security-card {
  background: var(--card-bg);
  border-radius: 20px;
  border: 1px solid var(--border-color);
  padding: 17px 10px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.neon-shield {
  width: 120px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info p {
  font-size: 16px;
}

.strength-guide {
  background: var(--card-bg);
  border-radius: 20px;
  border: 1px solid var(--border-color);
  padding: 25px 20px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.meter-grades {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grade {
  display: flex;
  gap: 16px;
  align-items: center;
}

.grade img {
  width: 20px;
  padding: 7px;
  border-radius: 50%;
}

.weak-img {
  background-color:#d60e0e25;
}

.medium-img {
  background-color: #ff615321;
}

.strong-img {
  background-color: #fee64823;
}

.very-strong-img {
  background-color: #00aa662a;
}

.grade span {
  font-size: 16px;
}

.grade span p {
  font-weight: 800;
}

#weak {
  color: #d60e0e;
}

#medium {
  color: #ff6053;
}

#strong {
  color: #fee648;
}

#very-strong {
  color: #00aa65;
}

.security-tips {
  background: var(--card-bg);
  border-radius: 20px;
  border: 1px solid var(--border-color);
  padding: 25px 20px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.security-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bulb-icon {
  font-size: 25px;
  color: var(--deep-green)
}

.tips {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tip-container {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}

.tip-container span {
  color: var(--deep-green);
}

footer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.466);
  grid-column: 1/-1;
  margin-bottom: 20px
}

.lock-icon {
  font-size: 15px;
}